.livegraph canvas{
	position: absolute;
	top: 0px;
	left: 0px;
}

.livegraph .livegraph-label-xbottom, .livegraph-label-yleft, .livegraph-label-yright{
	position: absolute;
	z-index: 100;
	text-align: center;
}

.livegraph .livegraph-label-xbottom{
	bottom: 0px;
	width: 100%;
}

.livegraph-label-yleft, .livegraph-label-yright{
	top: 0px;
	bottom: 0px;
	width: 15px;
	padding-left: 5px;
}

.livegraph-label-yleft{
	color: blue;
	left: 0px;
}

.livegraph-label-yright{
	color:red;
	right: 0px;
}

.livegraph-label-yleft span, .livegraph-label-yright span{
	position: absolute;
	margin-top: 75px;
	top: 50%;
	width: 150px;
	text-align: center;
	display: inline-block;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-webkit-transform-origin: 0% 0%;
	
}
